<div class="row header-org-demo">
	<div class="col-md-11"><h1>Organization Demographics</h1></div>

	<div class="col-md-1 add">
		<div class="btn-div">
			<a href="#"><em>+</em></a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-4 form-group">
		<span>
			<label for="dis-ptn-type">Distribution Partner Type*</label>
			
			<select id="dis-ptn-type form-control" name="dis-ptn-type" required ng-model="vm.orgDemoBasic.disPtnType">
				<option ng-repeat="p in vm.disPtnTypes">{{ p }}</option>
			</select>
		</span>
	</div>

	<div class="col-md-3">
		<span>
				<label for="org-type">Organization Type*</label>
				<select id="org-type" name="org-type" ng-model="vm.orgDemoBasic.orgType">
					<option ng-repeat="p in vm.orgTypes">{{ p }}</option>
				</select>
		</span>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<span class="span-org-name">
			<label for="org-name">Organization Name*</label>
			<input type="text" id="org-name" name="org-name" ng-model="vm.orgDemoBasic.orgName"/>
		</span>
	</div>

	<div class="col-md-6">
		<span class="span-str-name">
			<label for="str-name">Street Name</label>
			<input type="text" id="str-name" name="str-name" />
		</span>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<span class="span-tax-id-num">
			<label for="tax-id-num">Tax ID Number*</label>
			<input type="text" id="tax-id-num" name="tax-id-num" />
		</span>
	</div>

	<div class="col-md-4">
		<span class="span-npn">
				<label for="npn">National Producer Number (NPN)</label>
				<input type="text" id="npn" name="npn" />
		</span>
	</div>

	<div class="col-md-4">
		<span class="span-finra">
			<label for="finra">FINRA (CRD#)</label>
			<input type="text" id="finra" name="finra" />
		</span>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="hr-bar-thick"></div>
	</div>
</div>