<div class="address">
	<div class="row">
		<div class="col-md-10">
			<span>
				<label for="addr-type">Address Type*</label>
				<select id="addr-type" name="addr-type" ng-model="vm.address.addrType">
					<option ng-repeat="p in vm.addrTypes">{{ p }}</option>
				</select>
			</span>
		</div>
		<div class="col-md-2 remove">
			<div class="btn-div">
				<a ng-click="vm.deleteAddr(vm.address)"><em>X Remove</em></a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<span class="span-attention">
				<label for="attention">Attention</label>
				<input type="text" id="attention" name="attention" ng-model="vm.address.attention"/>
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<span class="span-biz-addr-line1">
				<label for="biz-addr-line1">Business Address: Line 1*</label>
				<input type="text" id="biz-addr-line1" name="biz-addr-line1" />
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<span class="span-biz-addr-line2">
				<label for="biz-addr-line2">Business Address: Line 2*</label>
				<input type="text" id="biz-addr-line2" name="biz-addr-line2" />
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<span class="span-city">
				<label for="city">City*</label>
				<input type="text" id="city" name="city" />
			</span>
		</div>

		<div class="col-md-1">
			<span class="span-state">
				<label for="state">State*</label>
				<input type="text" id="state" name="state" />
			</span>
		</div>

		<div class="col-md-2">
			<span class="span-country">
				<label for="country">Country</label>
				<input type="text" id="country" name="country" />
			</span>
		</div>

		<div class="col-md-2">
			<span class="span-zip1">
				<label for="zip1">ZIP Code*</label>
				<input type="text" id="zip1" name="zip1" class="zip"/>
				+
				<input type="text" id="zip2" name="zip2" class="zip"/>
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label><input type="radio" name="preferred" id="preffered-addr"> Preferred</label>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label for="biz-phone-part1">Business Phone*</label>
			<input id="biz-phone-part1" class="biz-phone-part1"/>
			<input id="biz-phone-part2" class="biz-phone-part2"/>
			<input id="biz-phone-part3" class="biz-phone-part3"/>
			-
			<input placeholder="Ext"  id="biz-phone-ext" class="biz-phone-ext"/>
		</div>

		<div class="col-md-3">
			<label for="biz-fax-part1">Business Fax</label>
			<input id="biz-fax-part1" class="biz-fax-part1"/>
			<input id="biz-fax-part2" class="biz-fax-part2"/>
			<input id="biz-fax-part3" class="biz-fax-part3"/>
		</div>

		<div class="col-md-5">
			<label for="biz-email">Business Email*</label>
			<input type="email" id="biz-email" class="biz-email"/>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<label><input type="radio" name="preferred" id="preffered-biz-phone"> Preferred</label>
		</div>
		<div class="col-md-3">
			<label><input type="radio" name="preferred" id="preffered-biz-fax"> Preferred</label>
		</div>
		<div class="col-md-3">
			<label><input type="radio" name="preferred" id="preffered-biz-email"> Preferred</label>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-12">
		<div class="hr-bar-light"></div>
	</div>
</div>
